## O comando save-exact é usado para garantir que as versões dos pacotes sejam exatas, evitando problemas de compatibilidade. Mantendo a versão exata, evitamos que o npm instale uma versão diferente daquela que foi testada e funciona.
## Quando o comando save-exact é usado, o npm não atualiza automaticamente as versões dos pacotes, evitando que o projeto seja quebrado.
save-exact = true

